<html lang="en">
    <%- include('./partials/head.ejs')  %>
    <body>

        <%- include('./partials/nav.ejs')  %>

        <div class="about content">
            <h2>About Idan's Blog</h2>
            <p>Idan is me, I am Idan</p>
            <p>Idan is calm and cool headed</p>
            <p>this is my blog, you are welcome</p>
            <p>please feel free to look around and take it all in</p>

        </div>
        <%- include('./partials/footer.ejs')  %>
    </body>

</html>